# Windows thumbnail db
Thumbs.db

# OSX files
.DS_Store

#log files
*.log

#bak files
~*
*.bak

#archives
*.zip
*.rar

#global config file, because if it doesn't exist, it would be created programmatically
config.json

node_modules
