<div class="uk-alert">
    <p>
        <span uk-icon="icon: info"></span>
        {{ 'If you like this module, please, donate. It will help to support the project and improve it. You can choose any suitable payment method and donate any amount. Thank you!' | trans}}
    </p>

    <p class="uk-text-center">
        {{ 'Payment methods:' |trans}}
    </p>

    <div class="uk-text-center" uk-margin>
        <a href="https://www.paypal.me/valitov/" target="_blank" class="uk-button uk-button-default">
            {{ 'PayPal' |trans}}
        </a>
        <a href="https://money.yandex.ru/to/410011424143476" target="_blank" class="uk-button uk-button-default">
            {{ 'Yandex Money' |trans}}
        </a>
    </div>
</div>
