.uk-tooltip{
	word-break: normal;
}
.uk-grid.uk-form div ul li span[data-uk-tooltip]{
	margin-top:5px;
}
.uk-grid.uk-form div ul li span  > span[data-uk-tooltip] > i{
	color:#ffb105;
	margin-left:5px;
	text-decoration: none;
	font-family: FontAwesome;
	display: inline-block;
	font-weight: 400;
	font-style: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.uk-grid.uk-form div ul li span > span[data-uk-tooltip]>i:before {
	content: "\f059";
}